<h1>A single picture</h1>
<div>
  <%= image_tag @picture.picture %>
</div>
<div>
  <%= @picture.caption %>
</div>
<h2>Comments</h2>
<% @picture.comments.each do |comment| %>
  <div>
    <%= comment.text %>
  </div>
<% end %>